<h1>{{title}}</h1>

{{> nav}}

<div>
	<ul>

		{{#each catalogue.units}}
			<li>
				{{name}}
				<ul>

					{{#each profiles.units}}
						<li>
							{{name}}
						</li>
					{{/each}}
				</ul>
				<ul>

					{{#each profiles.weapons}}
						<li>
							{{name}}
						</li>
					{{/each}}
				</ul>
				<ul>

					{{#each profiles.wargear}}
						<li>
							{{name}}
						</li>
					{{/each}}
				</ul>
				<ul>

					{{#each profiles.wounds}}
						<li>
							{{name}}
						</li>
					{{/each}}
				</ul>
			</li>
		{{/each}}
	</ul>
</div>

<style>
	li > ul {
		margin-left: 1rem;
	}

	ul + ul {
		border-top: 1px solid #bbb;
		padding: .4rem 0;
		margin: .4rem 1rem;
	}

	div > ul > li {
		margin: 0 0 1rem;
	}
</style>

{{#each catalogue.units}}
	<article class="codex-entry">
		<h1>{{name}}</h1>

		<table class="grid-item">
			{{#each profiles.units}}
				<thead>
					<tr>
						<th></th>
						{{#each characteristics}}
							<th>{{$.name}}</th>
						{{/each}}
					</tr>
				</thead>
				<tbody>
					<td>{{name}}</td>
					{{#each characteristics}}
						<th>{{$.value}}</th>
					{{/each}}
				</tbody>
			{{/each}}
		</table>

	</article>
{{/each}}

<script>
	{
		document.querySelectorAll('tbody').forEach(tbody => {
			if (!tbody.children.length) {
				tbody.parentNode.style.display = 'none'
			}
		});
	}
</script>