<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="codex-list">
	{{#each categories}}
		{{#each rules}}
			<article class="codex">
				<h1 title="{{this}}">{{this}}</h1>
				<ul>
					<li>
						<a href="/{{../category}}/{{id this}}">Codex entries</a>
					</li>
					<li>
						<a href="/{{../category}}/{{id this}}/summary">Rules and profiles</a>
					</li>
				</ul>
			</article>
		{{/each}}
	{{/each}}
</section>
