<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<ul class="breadcrumb">
		<li>
			<a href="/">Home</a>
		</li>
		{{#if game}}
			<li>
				<a href="/{{game.id}}">{{game.name}}</a>
			</li>
			{{#if catalogue}}
				<li>
					<a href="/{{game.id}}/{{catalogue.id}}">{{catalogue.name}}</a>
				</li>
			{{/if}}
		{{/if}}
	</ul>
	{{{body}}}
</body>
</html>
