<nav class="codex-nav">
	<ul>
		<li>
			<a href="/{{params.gameId}}/{{params.armyId}}">Codex entries</a>
		</li>
		<li>
			<a href="/{{params.gameId}}/{{params.armyId}}/summary">Summary</a>
		</li>
		<li>
			<a href="/{{params.gameId}}/{{params.armyId}}/data">Data</a>
		</li>
	</ul>
</nav>

<nav class="codex-filters">
</nav>